{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="row">
    <div>
      <h1>Showing item {{item.name}} in Category {{category.name}}</h1>
    </div>
    <div>
    	<p>{{item.name}}</p>
    	<p>{{item.description}}</p>
    	<p>{{item.category.name}} (id: {{item.category_id}})</p>
    </div>
  </div>
  {% if item.user_id == user %}
    <hr />
    <div class="row">
    	<a href="{{url_for('editItem', item_name = item.name)}}">edit</a>
    </div>
    <div class="row">
    	<a href="{{url_for('deleteItem', item_name = item.name)}}">delete</a>
    </div>
  {% endif %}
{% endblock %}